{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <section class="cart container">
        {{ form_start(form) }}
        {% for orderDetail in form.orderDetails %}
            {% if orderDetail.vars.data.quantity is not null %}
                {{ form_label(orderDetail, orderDetail.vars.data.food.name) }}
                {{ form_widget(orderDetail) }}
            {% endif %}
        {% endfor %}
        {{ form_end(form) }}
    </section>
{% endblock %}