{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ category }} mb-2">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}