<nav class="nav navbar-expand-lg" id="nav">
    <img class="logo-navbar" src="{{ asset('build/images/Oumami.png') }}" alt="Logo-Oumami"></a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="navbar-link nav-link" href="{{ path('order') }}">Prise de commande</a>
            </li>
        </ul>
    </div>
</nav>