{% if minErrors is defined %}
    {% for error in minErrors %}
        <div class="alert alert-danger mb-2">
            {{ error }}
        </div>
    {% endfor %}
{% endif %}

{% if errors is defined %}
    {% for error_key, error_value in errors %}
        <div class="alert alert-danger mb-2">
            {{ error_key }} : {{ error_value }}
        </div>
    {% endfor %}
{% endif %}