.nav {
  background-color: $secondary-background-color;
  border-bottom: 1px solid $dark-color;
}

.navbar-link {
  @include text (400, 14px);
  color: $secondary-color;
}

.navbar-link:hover {
  color: $primary-color;
}

.logo-navbar {
  width: 60px;
}