.order img {
  width: 100%;
  border-radius: 0;
}

.order .card-body,
.order .card-footer {
  padding: 0;
}

.order .card {
  max-width: 280px;
}

.order .card-footer {
  background-color: $background-color;
  align-content: center;
}

.order .card-text {
  width: 50%;
  font-size: 1.3em;
}

.order form {
  display: flex;
  justify-content: center;
}

.order .form-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.order input {
  width: 40%;
}

.order h5 {
  color: $primary-color;
}

.order hr {
  width: 20%;
  align-self: center;
  margin-top: 4px;
  border-top: 1.3px solid $primary-color;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}